.transa {
    background-color: rgb(  33, 97, 140 );
    background-image: url(face3.png);
}

header {
    margin-bottom: 100px;
    margin-top: 10px;
    display: flex;
}
.name {
    color: rgb( 0, 0, 0 );
    background-color: rgb(  33, 97, 140 );
    border: 5px solid black;
    margin-left: 10px;
    font-size: 35px;
}

.signin_but {
    display: flex;
    height: 2em;
    margin-top: 2em;
    margin-left: auto;
}

.signin-button-wrap{
    color: rgb(20, 20, 20);
}

.chat-button {
    margin-left: 10px;
    margin-bottom: 0;
}

#game {
    background-color: black;
    /*background-image: url(cat_face.png);*/
    background-repeat: no-repeat;
    background-position: 300px 150px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.root {
    position: relative;
}

/*.chat {
    position: absolute;

}*/
